nav {
    background-color: blue;
}

#cars {
    width: auto;
    height: 400px;
    background-image: linear-gradient(#000000, transparent, transparent), url("../images/usedproduct.jpg");
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    align-content: center;
    padding: 3em;
}

#buyused {
    background-image: linear-gradient(#000000, transparent, transparent), url("../images/usedproduct.jpg");
    background-size: cover;
    height: 640px;
    justify-items: center;
}

#forsale {
    background-image: none;
    background-color: rgb(243, 243, 243);
    margin-top: 2em;
    margin-bottom: 3em;
}

#usedcars {
    background-color: black;
    background-image: none;
    color: white;
    height: 40px;
    text-align: center;
}

#text {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    margin-bottom: 10%;
}

button a {
    color: white;
}

header {
    color: white;
}

.black {
    color: black;
    text-align: center;
    padding-bottom: 1em;
}

.ui.container {
    width: 100%;
}

#forsale2 {
    background-color: white;
    margin-top: 3em;
}

#continuesearch {
    color: black;
    margin-bottom: 4em;
    margin-top: 4em;
}

#newcar {
    margin: 2em;
    margin-left: 3em;
}
.sell{
    height: 13em;
    width: 32.5em;
    font-size: 40px;
}

#darknewcar {
    background-color: rgb(243, 243, 243);
}

h3 {
    margin: 1em;
}

.content {
    padding: 1em;
}

#search1 {
    margin-left: 42em;
}

.twelve.wide.column {
    width: auto;
}

#sellingbackground {
    height: 400px;
    width: 100%;
    background-image: linear-gradient(#000000, transparent, transparent), url("../images/sellingbackground.jpg");
}

.sellmything {
    color: white;
    text-align: center;
}

.ui.header {
    color: white;
}

#why {
    margin-top: 3em;
    margin-bottom: 3em;
}

.ui.link.list {
    color: white;
}

#right {
    right: 10%;
}

h2 {
    color: white;
}

.ui.pagination.menu {
    margin: 2em;
}

.ui.attached.message {
    background-color: rgb(32, 32, 32);
}

.white {
    color: white;
}

#white {
    color: white;
}

#down {
    margin-top: 3em;
}

#sellad {
    background-image: url("../images/yardsale.jpg");
    height: 320px;
    width: 100%;
}

#normalcontainer {
    width: 80%;
}

#big {
    font-size: 100px;
    font-weight: bolder;
}

.centered {
    margin: 6em;
}

.middle {
    text-align: center;
}

.grey {
    background-color: rgb(202, 202, 202);
}

.Centered {
    text-align: center;
}

select {
    border-radius: 6px;
}

#bigwhite {
    font-size: 40px;
    color: #b2afac;
}

.ui.stackable.five.item.inverted.secondary.pointing.menu {
    border: none;
}

.ui.inverted.segment {
    background-color: rgb(254, 198, 1);
}

#lightgrey {
    background-color: rgb(46, 46, 51);
}

#mediumgrey {
    background-color: rgb(69, 76, 85);
    padding-left: 10em;
    color: white;
    text-decoration: underline;
}

#darkgrey {
    background-color: rgb(80, 89, 99);
    padding: 5em;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: grey;
    transition: .4s;
    font-size: large;
}

a:active {
    color: white;
}

#copyright {
    text-align: center;
    color: white;
    font-weight: lighter;
}

.ui.attached.message {
    background-color: rgb(69, 76, 85);
}

.ui.column {
    text-align: center;
}

.whitecentered {
    text-align: center;
    font-family: serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.on{
    background-color: green;
    color: white;
}